
*.xcscheme

*.xcuserstate

*.strings

*.xccheckout

MultipeerGame/MultipeerGame.xcodeproj/xcuserdata/zhangchao.xcuserdatad/xcschemes/xcschememanagement.plist

MultipeerGame/MultipeerGame.xcodeproj/project.xcworkspace/xcshareddata/MultipeerGame.xccheckout
